
<form autocomplete="off" #frm="ngForm" (ngSubmit)="adicionar(frm)">
  <div class="ui-g"  *ngIf="show">
    <div class="ui-g-12 ui-sm-12 ui-fluid">
      <label>Vou aprender a palavra:</label>
      <input pInputText id="palavra" name="palavra"
      [(ngModel)]="texto.palavra" required 
      />
    </div>

    <div class="ui-g-12 ui-sm-12 ui-fluid">
      <label>Exemplos:</label>
      <textarea pInputTextarea rows="15"  id="obs" name="obs"  [(ngModel)]="texto.obs" required></textarea>
    </div>

    <div class="ui-g-4">
      <button pButton icon="pi pi-check" label="Salvar"
       [disabled]="frm.invalid">
      </button>  
    </div>

  </div>
</form>
